@import './variable';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

nav li:last-child a{
    background: brown;
} 

nav li a{
    &:hover{
        color: $primary-hover;
    }
    transition: $smooth;
    color: $primary;
}

.menu h1{
    color: $primary;
}

.addToCart{
    border: 2x solid black;
    color: $secondary;
    background-color: $grey;
    &:hover{
        background-color: $primary-hover;
        color: $pure;
    };
    &:focus{
        outline: none;
    }
}

.noty_theme__mint{
    border-radius: 50px !important;
    padding-left: 8px !important;
}


